.data-field{
    width: 1280px;
    background: rgb(41, 40, 40);
    display: flex;
    flex-direction: column;
    align-items: center;

    .top-btns{
        input{
            font-size: 17px;
            padding: 10px 15px;
            border-radius: 20px;
        }
    }
    
    .movie-display{
        padding: 3px;
        display: grid;
        grid-template-columns: 310px 310px 310px 310px ;
        gap: 3px 10px;
    }
    .footer-area{
        background: black;
        color: white;
        display : flex;
        justify-content: center;
        align-items: center;
    }
    .btn-def{
        color: white;
        border: unset;
        margin: 5px;
        padding: 15px;
        border-radius: 20px;
        background: chocolate;

        &:hover{
            cursor: pointer;
            background: rgb(83, 50, 26);
        }
    }
}