.nav-bar{
    background: chocolate;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .more-options{
        &:hover{
            cursor: pointer;
            color: white;
        }
    }

    .logo{
        display: flex;
        
        transition: 0.5s ease-in-out;
        &::after{
            position: absolute;
            content: "Load Popular Movies";
            margin-top: 80px;
            margin-left: 15px;
            transform: rotate(-5deg);
            visibility: hidden;
        }
        &:hover{
            cursor: pointer;
            transform: translateY(-20px);
            &::after{
                visibility: visible;
                transform: translateY(-25px);
                
            }
        }
    }
    
}

@media screen and (max-width: 530px){
    .nav-bar{
        position: relative;
    }
}