.nav-bar{
    width: 1250px;
    background: chocolate;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .more-options{
        &:hover{
            cursor: pointer;
            color: white;
        }
    }

    .logo{
        display: flex;
        flex-direction: column;
        transition: 0.5s ease-in-out;
        &::after{
            position: absolute;
            content: "Load Popular Movies";
            margin-top: 80px;
            margin-left: 15px;
            transform: rotate(-5deg);
            visibility: hidden;
        }
        &:hover{
            cursor: pointer;
            transform: translateY(-20px);
            &::after{
                visibility: visible;
                transform: translateY(-25px);
                
            }
        }
    }
    .floating-box{
        position: fixed;
        background: rgba(0, 0, 0, 0.7);
        top: 0px;
        left:300px;
        padding:320px 200px;
        z-index: 5;
        .help{
            background: white;
            padding: 25px;
            border-radius: 20px;
        }
    }
    
}

@media screen and (max-width: 530px){
    .nav-bar{
        position: relative;
        left: 50px;
        width: 85%;
        margin-left: 0px;
    }
}